@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-image: linear-gradient(rgba(255, 238, 0, 0.623), rgba(48, 184, 84, 0.603));
  font-family: "Poppins", sans-serif;
  width: 100%;
}

p {
  font-size: 1.5rem;
}

@font-face {
  font-family: "firebug";
  src: url(../fuentes/firebug.otf);
}
#check_menu,
.navegacion label {
  display: none;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
}

/*------------------------------------barradenavegacion----------------------------------*/
header {
  background-color: rgba(48, 184, 84, 0.603);
  width: 100%;
  height: 16vh;
  margin-top: 0px;
  position: fixed;
  text-decoration: none;
  list-style: none;
  z-index: 1000;
}
header .navegacion .barranavegacion {
  margin-top: 1%;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  margin-left: 50%;
  list-style: none;
  text-decoration: none;
  width: 100%;
}
header .navegacion .barranavegacion .itemnavegacion {
  font-family: "firebug";
  margin-right: 0.5%;
  transition: all 0.5s;
}
header .navegacion .barranavegacion .itemnavegacion:hover {
  background-color: black;
  border-radius: 40px;
}
header .navegacion span {
  font-size: 1.6rem;
  font-family: "firebug";
  color: white;
}
header .navegacion .logo {
  height: 4rem;
  width: 10%;
}
header .navegacion a {
  list-style: none;
  text-decoration: none;
  color: white;
}

/*---------------------------------------------index---------------------------------------------------*/
.gimnasioindex {
  width: 100%;
  height: 80%;
  margin-top: 10%;
  padding: 2%;
}

.NuestroObjetivo {
  width: 30%;
}

.objetivos,
.seguimiento,
.compromiso,
.esfuerzo {
  height: 52%;
  width: 40%;
}

.cuadro,
.cuadro1,
.cuadro2,
.cuadro3,
.cuadro4 {
  display: block;
  border: 0.2rem solid black;
  padding: 2 rem;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1%;
  grid-template-areas: "cuadro cuadro" "cuadro cuadro" "cuadro1 cuadro2" "cuadro3 cuadro4" "cuadro5 cuadro5";
}

.cuadro {
  grid-area: cuadro;
}

.cuadro1 {
  grid-area: cuadro1;
}

.cuadro2 {
  grid-area: cuadro2;
}

.cuadro3 {
  grid-area: cuadro3;
}

.cuadro4 {
  grid-area: cuadro4;
}

.cuadro5 {
  grid-area: cuadro5;
  width: 100%;
}

.tarjetas {
  width: 80%;
  height: 30vh;
  opacity: 0.85;
  transition: all 2s;
}
.tarjetas:hover {
  opacity: 1;
  transform: scale(1.1);
}

.boton {
  background-color: rgba(48, 184, 84, 0.603);
  margin: 15%;
  color: black;
  font-family: "firebug";
  margin: 0, 5%;
  border-radius: 10%;
  margin-top: 2%;
  transition: all 0.5s;
  padding-top: 2%;
}
.boton:hover {
  background-color: white;
}

/*------------------------------------area contacto--------------------------------*/
.container_contacto {
  background-image: url(../imagenes/contacto.jpg);
}

.contacto {
  padding: 10%;
  padding-top: 20%;
  background-color: rgba(255, 238, 0, 0.623);
  transition: 1s;
}
.contacto:hover {
  background-color: rgba(255, 255, 255, 0.726);
}
.contacto .relleno {
  margin-top: 5%;
}

.formulario {
  background-color: rgba(255, 238, 0, 0.623);
}

/*-------------------------------------actividades--------------------------------------------------*/
.imagenactividad {
  width: 100%;
  height: 80%;
  margin-top: 10%;
  padding: 2%;
}

.funcional,
.abdominales,
.musculacion,
.hit,
.crossfit {
  margin: 1rem;
  display: block;
}

.rutinafuncional {
  width: 80%;
  height: 30vh;
  opacity: 0.85;
}

.listaA {
  text-decoration: underline;
}

.seccion1,
.seccion,
.seccion2,
.seccion3,
.seccion4,
.seccion5,
.seccion6 {
  border: 0.25rem solid black;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1%;
  grid-template-areas: "seccion1 seccion1 seccion1 seccion1" "seccion1 seccion1 seccion1 seccion1" "seccion seccion seccion2 seccion2" "seccion3 seccion3 seccion4 seccion4" "seccion5 seccion5 seccion6 seccion6" "piedepagina piedepagina piedepagina piedepagina";
}

.seccion1 {
  grid-area: seccion1;
}

.seccion {
  font-size: xx-large;
  color: black;
  grid-area: seccion;
}

.seccion2 {
  grid-area: seccion2;
}

.seccion3 {
  grid-area: seccion3;
}

.seccion4 {
  grid-area: seccion4;
}

.seccion5 {
  grid-area: seccion5;
}

.seccion6 {
  grid-area: seccion6;
}

.piedepagina {
  grid-area: piedepagina;
}

/*--------------------------------------------------planes-----------------------*/
.planes {
  padding-top: 15%;
  text-align: center;
}

.promociones {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 5%;
  padding: 5%;
  background-image: url(/gimnasiosuperarse/imagenes/promociones.jpg);
}
.promociones .promocion {
  width: 40%;
  border: 1% solid black;
  padding: 5%;
  text-align: center;
  background-color: #f9f9f9;
  margin: 5%;
}
.promociones .promocion a {
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 5% 10%;
  border-radius: 5px;
}
.promociones .promocion a:hover {
  background-color: rgba(48, 184, 84, 0.603);
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

.horario {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 5%;
  background-color: white;
}
.horario .hora,
.horario .dia,
.horario .clase {
  flex-basis: 16.6666666667%;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
.horario .hora:hover,
.horario .dia:hover,
.horario .clase:hover {
  background-color: rgba(48, 184, 84, 0.603);
}
.horario .hora {
  background-color: #555;
  color: white;
  font-weight: bold;
}
.horario .dia {
  background-color: #333;
  color: white;
}

.horario2 {
  display: none;
}

/*-----------------------------------nuestro espacio---------------------------------------------------------*/
.nuestroespacio {
  padding-top: 10%;
  margin-left: 5%;
  text-align: center;
}
.nuestroespacio .clase:hover {
  background-color: white;
}

#carouselExample {
  padding: 5%;
}

.ubicacion {
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.maps {
  width: 80%;
  padding-bottom: 2%;
  height: 80vh;
}

/*--------------------------------------------pie de pagina-------------------------------*/
footer {
  height: 25vh;
  background: #ccc;
  margin-bottom: 0%;
}
footer .redessociales {
  display: block;
  text-align: center;
}
footer .redessociales .logo1,
footer .redessociales .logo2,
footer .redessociales .logo3,
footer .redessociales .logo4 {
  margin-left: 5%;
}
footer .redessociales a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
}
footer .redessociales a:hover {
  text-decoration: underline;
}
footer .piedepagina {
  text-align: center;
}
footer .piedepagina .itemnavegacion {
  font-family: "Poppins", sans-serif;
  margin-right: 7%;
  transition: all 0.5s;
}
footer .piedepagina .itemnavegacion:hover {
  text-decoration: underline;
}
footer a {
  list-style: none;
  text-decoration: none;
  color: black;
}
footer .logo_container {
  text-align: center;
}
footer .logo_container .logo {
  width: 8%;
}
footer .logo_container span {
  font-size: 1.5rem;
}

/*------------------------error404-------------------------------------*/
.error-code {
  font-size: 150px;
  color: #e74c3c;
}

.error-message {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

.back-to-home {
  margin-top: 20px;
  font-size: 18px;
}

@media (max-width: 600px) {
  footer {
    height: 30vh;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    grid-template-areas: "seccion1" "seccion1" "seccion" "seccion2" "seccion3" "seccion4" "seccion5" "seccion6" "piedepagina";
  }
  .planes {
    padding-top: 30%;
  }
  .logo1,
  .logo2,
  .logo3,
  .logo4 {
    margin-right: 20%;
  }
  .grid1 {
    display: grid;
    grid-template-columns: 4fr;
    gap: 1%;
    grid-template-areas: "cuadro" "cuadro" "cuadro1" "cuadro2" "cuadro3" "cuadro4" "cuadro5";
  }
}
@media (max-width: 1300px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .redessociales il {
    display: block;
    margin-top: 2%;
    text-align: left;
  }
  footer .piedepagina il {
    display: block;
    margin-top: 2%;
    text-align: right;
  }
  footer .logo_container {
    display: none;
  }
  .promociones {
    display: block;
    justify-content: center;
    max-width: 100%;
    margin: 5%;
    padding: 10%;
    background-image: url(/gimnasiosuperarse/imagenes/promociones.jpg);
  }
  .promociones .promocion {
    width: 100%;
    border: 1% solid black;
    padding: 25%;
    text-align: center;
    background-color: #f9f9f9;
    margin: 10%;
  }
  .horario {
    display: block;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5%;
    background-color: white;
  }
  .horario .dia .hora .clase {
    border: 1px solid #ddd;
    text-align: center;
  }
  .horario .dia .hora .clase:hover {
    background-color: rgba(48, 184, 84, 0.603);
  }
  .navegacion label {
    display: block;
    margin-left: 95%;
  }
  .barranavegacion {
    display: none;
  }
  #check_menu:checked ~ .barranavegacion {
    background-color: rgba(48, 184, 84, 0.603);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
}

/*# sourceMappingURL=styles.css.map */
