$ancho:100%;
$alto:100%;
$tamanio:1rem;
$fuente:'Poppins', sans-serif;


$colorprimario:rgba(48, 184, 84, 0.603);
$colorsecundario: white;


$colores: (
  primary: #3498db,
  success: #2ecc7080,
  danger: #e74c3c,
  warning: #f39c12
);